* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



.title {
    width: 100%;
    height: 90vh;
}

.carousel {
    position: relative;
    text-align: center;
    color: #fff;
}

.carousel .container {
    position: absolute; 
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.container h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Bitter', cursive;
    font-weight: 700;
}

.container a { 
    margin: 10px 15px 0;
    transition: letter-spacing 0.2s;
    text-transform: uppercase;
}

.container a:hover {
    letter-spacing: 2px;
}

.carousel-item {
    background-color:black;
}
.title video, .title img {
    opacity: .5;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 100px;
    transition: 0.3s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header.sticky .brand, header.sticky ul li a {
    color: black;
    transition: color .2s;
}

header.sticky ul li a:hover {
    color: gold;
}

header .brand {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: 'Charmonman', serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s;
}

header ul li a:hover {
    color: #fff;
    border-bottom: 1px solid gold;
}

.btn-text {
    font-family: 'Charmonman';
    font-weight: 700;
}

.btn-fill {
    background: #ffe05d;
}

.container-fluid {
    padding: 10% 15% 5%;
    background:rgba(0, 0, 0, 0);
}

